<h4 class="ui center aligned medium icon header">
  <i class="blue inverted circular chat icon"></i>
  Let's Chat
</h4>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="fluid raised ui card chatbox">
      <div class="content" id="messages">
        <div class="ui small feed" id="message-container">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: 'Enter a message...' %>
             <%= f.button  '<i class="bordered inverted blue edit icon"></i>'.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui secondary vertical menu">
      <div class="fluid raised ui card chatbox">
          <div class="content">
            <a class="active item">
              Account
            </a>
            <a class="item">
              Settings
            </a>
            <div class="ui dropdown item">
              <i class="dropdown icon"></i>
              Display Options
              <div class="menu">
                <div class="header">Text Size</div>
                <a class="item">Small</a>
                <a class="item">Medium</a>
                <a class="item">Large</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>